* {
    box-sizing: border-box;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    padding: 25px 10px 0px 10px;
    width: 80%;
    margin: auto;
}
div {
    border: 1px solid black;
    border-radius: 1vw;
    padding: 5px;
}
div:hover {
    transform: scale(1.05);
    transition: all 0.5s cubic-bezier(0.1, 0.2, 0.25, 1.1);
}
html, body {
    width: 100%;
    margin: 0;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: justify;
}
footer p{
    text-align: center;
}
footer {
    width: 100%;
}
@media screen and (max-width: 500px) {
    article {
        grid-template-columns: 1fr;
        width: 100%;
    }
}