* {
    box-sizing: border-box;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
    padding: 25px 20px 25px 20px;
    width: 80%;
    margin: 25px auto 0px auto;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 20px;
    
}
div {
    border: 2px solid white;
    border-radius: 1vw;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    transition: all 0.7s cubic-bezier(0.1, 0.2, 0.25, 1.1);
}
div:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.75);
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("kepek/hatter_vegleges.jpg");
    height: 100%;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: justify;
}
footer p{
    text-align: center;
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 0;
}
header {
    background-color: white;
    margin: 0;
}
body {
    font-family: Arial;
}
@media screen and (max-width: 500px) {
    article {
        grid-template-columns: 1fr;
        width: 100%;
    }
}