header {
    text-align:center;
    padding:18px;
    font-size: 20px;
    background-color:#a79b87;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(104, 104, 104);
}
footer {
    font-size: 14px;
    text-align: center;
    border-top: 10px solid #ffb700;
    margin-top: 30px;
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 0;
    padding: 10px;
}
footer p {
    text-align: center;
}
body {
    font-family: Arial;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: justify;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("kepek/hatter_vegleges.jpg");
    height: 100%;
    scroll-behavior: smooth;
}
img {
  width: 100%;
}
.idovonal_nav {
    background-color: #8b0000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.5%;
    width: 10vw;
    height: 4vh;
    margin: 2vh 0 2vh 0;
    display: block;
    transition: 0.5s all cubic-bezier(0.1, 0.2, 0.25, 1.05);
    border-radius: 15px;
}
.idovonal_nav:hover {
    transform: scale(1.1);
    background-color: #ff7171;
    color: black;
}