header {
    text-align:center;
    padding:18px;
    font-size: 20px;
    background-color:#a79b87;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(104, 104, 104);
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 0;
}
footer p {
    text-align: center;
}
body {
    font-family: Arial;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: justify;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("kepek/hatter_vegleges.jpg");
    height: 100%;
}