header {
    text-align:center;
    padding:18px;
    font-size: 20px;
    background-color:#a79b87;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(104, 104, 104);
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 0;
    padding: 10px;
}
footer p {
    text-align: center;
}
body {
    font-family: Arial;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: justify;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("kepek/hatter_vegleges.jpg");
    height: 100%;
}
img {
  width: 100%;
}
article a {
    border: 1px solid #a79b87;
    background:red;
    padding: 2px 10px 2px 10px;
    transition: all 0.8s cubic-bezier(0.1, 0.2, 0.25, 1.1);
}
article a:hover {
    transform: scale(1.1);
}