main {
  width: 100%;
  margin: auto;
}
img {
  width: 80%;
  border-radius: 25px;
}
article {
  width: 75%;
  margin: auto;
  padding: 20px;
  border-left: 5px solid #8b5a2b;
}

.event {
  background: #f4e8d3;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}

.event h2 {
  color: #8b0000;
  margin: 0;
}
.elrendezes {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}
@media (max-width: 750px) {
  .elrendezes {
    grid-template-columns: 1fr;
    width: 100%;
  }
  article {
    width: 100%;
    margin: 0;
  }
  .event {
    margin: 15px 0px 15px 0px;
  }
}
